<!DOCTYPE html>
<head>
 <title>{{ title }}</title>
 <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
 <h1>Bixel Home</h1><br>
  {% if RunProtocol == 1 %}
  <h2>There is a protocol running, started on {{ datestart }} at {{ timestart }}</h2>
  <a href="/view" class="button">View Live Data</a>
  Process can be ended in Live View
  {% else %}
  <h2>Set up a new experiment</h2>
  <a href="/configure" class="button">Configure</a>
{% endif %}
  <h2>View previous data (Feature not added yet)</h2>
  <br>
<b>Status</b><br>
Temperature: {{ temp }}<br>
Humidity: {{ hum }}<br>
Date: {{ date }}<br>
Time: {{ time }}
</body>
</html>
